fastapi
uvicorn
openai
langchain
langchain-openai
pydantic-settings
python-dotenv
langsmith
redis
langchain-community
sqlalchemy
psycopg2-binary
alembic
transformers
datasets
peft
accelerate
einops
transformers_stream_generator
huggingface_hub[hf_xet]
